
body{
    background-color: #181818;
}
.flexMainWrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;

}
.flexWrapper1{
    display:flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: baseline;
    margin: 35px 0px;
}
.flexWrapperHref{
    display: flex;
    justify-content: space-between;
    width: 393px;
    height: 44px;

}

.link{
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
    text-decoration: none;
    letter-spacing: 0.2px;
    margin: 0px 10px;
}

.icon_figma_land{
    width: 186px;
    height: 58px;
    margin: 0px 10px;

}

.buttonLogin{

    width: 148px;
    height: 52px;
    right: 39px;
    background: #181818;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #ffffff;
    margin: 0px 10px;
}

.flexWrapper2{

    display: flex;
    flex-direction: column;
    padding: 50px 0px;

}

.title1{
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 88px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0px 10px;
    padding: 10px;
}

.textAfterTitle1{
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0px 10px;
    padding: 10px;
}

.buttonTry{
    width: 136px;
    height: 65px;
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 17px 0px;
    background: #4452FE
}

.buttonLearn{
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    width: 136px;
    height: 65px;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex-grow: 0;
    margin: 0px 10px;
    background: #181818;
    border: 1px solid #FFFFFF;
}
.flexWrapperButtons{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    padding: 10px 30px;
}

.img_screens{

    /*width: 1552.02px;*/
    height: 841px;
    background: #181818;
}


.flexWrapper3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0px;
}

.title2{
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-align: center;
}
.textAfterTitle2{

    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    margin: 0px 10px;
}
.textAfterTitlePartners{

    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    margin: 0px 10px;
}
.textAfterTitlePartnersMobile{
    display: none;
}
.textAfterTitleGallery{

    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    margin: 0px 10px;
}
.flexWrapper4{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 80px 0px;


}
.flexWrapper5{
    display: flex;
    flex-direction: column;
    margin: 25px 0px;
    align-items: flex-start;
    justify-content: space-evenly;
}
.title_features_same{
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin: 0px 10px;
}
.flexWrapper_titles_and_par_same{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 25px 0px;

}
.flexWrapper6_same{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.icon_features{
    margin: 10px 0px;
}
.text_after_title_features_same{
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0px 10px;
}
.flexWrapperContents{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 199px;

    margin: 100px 0px;
}
.FlexWrapperCards{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 44px 0px;
}
.flexWrapperForCard{
    display: flex;
    width: 476px;
    height: 624.52px;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin: 0px 33px;
}
.title_forCard{

    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    margin: 0px 10px;
}

.text_afterTitle_forCard{

    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #5C5C5C;
    margin: 020px 10px;
}

.button_forCard1{

    align-items: center;
    padding: 20px 36px;
    background: #4452FE;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    flex: none;
    flex-grow: 0;
    margin: 57px 0px;
    color: #FFFFFF;

}

.img_contents_card1{
    margin: 20px 0px;
}
.img_contents_card2{
    filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.15));
    border-radius: 14px;
    margin: 0px 0px;
}
.button_forCard2{
    align-items: center;
    padding: 20px 36px;
    background: #4452FE;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    flex: none;
    flex-grow: 0;
    margin: 57px 0px 0px 0px;
    color: #FFFFFF;
}
.WrapperForGallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 199px;
    background: #181818;
    flex: none;
    align-self: stretch;
    margin: 100px 0px;
}
.flexWrapperGallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flexWrapperForPartners{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;

}
.img_partners{
    margin: 50px 0px;
}

.flexWrapperTestimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background: #181818;
    margin: 100px 0px;
}

.flexCommentsWrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: 50px 0px;
}

.flexCommentsWrapperInner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin: 0px 23px;
}

.flexTestimonials_card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    background: #181818;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px 0px;
}
.flexTestimonials_card_heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 30px 0px;

}

.flexTestimonials_card_par{

    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}



.flexTestimonials_card_heading_name{
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0px 20px;
}

.flexWrapperTry{
    display: flex;
    flex-direction: row;
    padding: 0px;
    background: #343434;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    margin: 0px 0px;
    border-radius: 33px;
}

.flexWrapperTryLeftElem{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 17px 94px;
    margin: 0px 86px;
}

.TryText{
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0px 10px;
}

.img_try{
    margin: 0px 0px;
}

.bottomElementMainWrapperTitle{
    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin: 0px 10px;
}

.bottomElementMainWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 0px 0px;
    justify-content: space-evenly;
}

.bottomElementWrapperLeft{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    //margin: 56px 0px;
    justify-content: space-between;
}

.bottomElementMainWrapperText{

    font-family: Graphik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 10px 10px;
    text-decoration: none;
    flex-wrap: nowrap;
}

.bottomElementWrapperLeftColumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 0px 75px;
}

.bottomElementMainWrapperForHref{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 40px 0px;
}

.bottomElementWrapperRight{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 0px 199px;
}

.bottomElementWrapperRightFirst{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 10px 0px;
}
.img_mobile_menu{
    display: none;
}

.LastWrapper {

    display: flex;
    flex-direction: column;
}

.textAfterTitle1ForMobile{
    display: none;
}
.title1ForMobile{
    display: none;
}
.textAfterTitle2ForMobile{
    display: none;
}

.img_features{

}

.img_futuresForMobile{
    display: none;
}

.titleContent{
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-align: center;
}

.textAfterTitleContents{
    font-family: Graphik;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    flex: none;
    margin: 0px 10px;
}

textAfterTitleContentsMobile{
    display: none;
}
.textAfterTitleGalleryMobile{
    display: none;
}
.img_galleryForMobile{
    display: none;
}
.textAfterTitleContentsMobile{
    display: none;
}
.img_partnersMobile{
    display: none;
}
.icon_testimon1Mobile{
    display: none;
}

.flexTestimonials_card_heading_nameMobile{
    display: none;
}

.flexTestimonials_card_parMobile{
    display: none;
}
.icon_testimon2Mobile{
    display: none;
}
.icon_testimon3Mobile{
    display: none;
}

.icon_testimon4Mobile{
    display: none;
}

.TryTextMobile{
    display: none;
}



@media only  screen and (max-width:1245px ){

    .flexWrapperHref{
        display: none;
    }
    .link{
        display: none;

    }

    .img_mobile_menu{
        display: block;
        background: #181818;


    }



    .Wrapper1ForMobile{
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .flexWrapper1{
        justify-content: space-between;
        margin: 35px 20px;
        align-items: center;
    }

    .textAfterTitle1{
        flex-wrap: wrap;
    }

    .textAfterTitle1ForMobile{
        display: block;
        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin: 0px 10px;
        padding: 10px;
    }

    .textAfterTitle1{
        display: none;

    }
    .title1{
        display: none;
    }
    .title1ForMobile{
        display: block;
        font-family: Graphik;
        font-style: normal;
        font-weight: 500;
        font-size: 80px;
        line-height: 88px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin: 0px 10px;
        padding: 10px;
    }

    .flexWrapperButtons{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 30px;
    }

    .textAfterTitle2ForMobile{
        display: block;
        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        flex: none;
        margin: 0px 10px;
    }

    .textAfterTitle2 {
        display: none;

    }

    .flexWrapper4 {

        flex-direction: column;
        align-items: center;
    }

    .img_features{
        display: none;
    }

    .img_futuresForMobile{
        display: block;
    }

    .textAfterTitleContentsMobile{
        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin: 0px 10px;
        display: block;
    }

    .textAfterTitleContents{
        display: none;

    }

    .FlexWrapperCards {
        flex-direction: column;


    }

    .flexWrapperForCard{

        margin: 20px 33px;
    }
    .textAfterTitleGallery{
        display: none;
    }
    .textAfterTitleGalleryMobile{
        display: block;

        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin: 0px 10px;
    }

    .img_galleryForMobile{
        display: block;
    }
    .img_gallery_cards_firstLine{
        display:none ;
    }
    .img_gallery_cards_secondLine{
        display: none;
    }
    .textAfterTitlePartnersMobile{
        display: block;
        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin: 0px 10px;
    }
    .textAfterTitlePartners{
        display: none;
    }
    .img_partners{
        display: none;
    }
    .img_partnersMobile{
        display: block;
        margin: 50px 0px;
    }

    .flexCommentsWrapper{
        flex-direction: column;
    }
    .icon_testimon1{
        display: none;
}
    .icon_testimon1Mobile{
        display: block;
    }
    .flexTestimonials_card_heading_nameMobile{
        display: block;
        font-family: Graphik;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin: 0px 20px;
    }
    .flexTestimonials_card_heading_name{
        display: none;
    }

    .flexTestimonials_card_par{
        display: none;
    }
    .flexTestimonials_card_parMobile{
        display: block;

        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
    }
    .icon_testimon2{
        display: none;
    }
    .icon_testimon2Mobile{
        display: block;
    }

    .icon_testimon3Mobile{
        display: block;
    }
    .icon_testimon3{
        display: none;
    }

    .icon_testimon4Mobile{
        display: block;
    }
    .icon_testimon4{
        display: none;

    }

    .TryText{
        display: none;
    }
    .TryTextMobile{
        display: block;
        font-family: Graphik;
        font-style: normal;
        font-weight: normal;
        font-size: 52px;
        line-height: 62px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        margin: 0px 10px;
    }
    .flexWrapperTry{
        flex-direction: column;
    }
    .flexWrapperTryLeftElem{
        align-items: center;
    }
    .bottomElementMainWrapper{
        flex-direction: column;
        align-items: start;
    }

    .bottomElementWrapperLeft{
        flex-direction: column;
        align-items: start;
    }
    .bottomElementWrapperRight{
        margin: 0px 75px;
    }
}


